<ion-content [fullscreen]="true">


    <div class="ion-align-items-center" style="width: 100%; margin: 15px 15px 15px;">
        <a class="card" style="--bg-img: url('https://lh3.googleusercontent.com/proxy/NU_ism7EFird22QpUTsGakl9KQJ1nzbM74p-coACY3tKDLPemBMd4J1KoAnsr-8TlllIG790PH87TCn8l9OioTzWfwRZyzQ55fNQ8OSFH-4dnj1Y1E-jiCvxKDBDe0Jm9W65WQ')">
            <div class="row d-flex" style="justify-content: space-between; width: 100%; ">
                <div class="col-6">
                    <small>Clinica dental</small>
                    <h3 style="font-weight: 700; margin-top: 0;"> CORTÉS </h3>
                    <p style="margin-top: 0; ">Creando la sonrisa más brillante.</p>
                </div>
            </div>
        </a>
    </div>

    <ion-slides pager="true">
        <ion-slide>
            <ion-card style="width: 100%; height: 100%; border: 0; box-shadow: none;">
                <ion-card-content>
                    <div class="row" style="justify-content: space-between; display: flex;">
                        <div class="col-6">
                            <ion-card-header>
                                <ion-card-title>Endodoncia
                                    <ion-badge> 50% </ion-badge>
                                </ion-card-title>
                                <ion-card-subtitle>
                                    <p style="text-decoration: line-through;"> $5,500.00 </p>
                                </ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                Aprovecha toda la extirpación de la pulpa dental y sellado de la cavidad pulpar.
                            </ion-card-content>
                        </div>
                    </div>

                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card style="width: 100%; height: 100%; border: 0; box-shadow: none;">
                <ion-card-content>
                    <div class="row" style="justify-content: space-between; display: flex;">
                        <div class="col-6">
                            <ion-card-header>
                                <ion-card-title>Ortodoncia
                                    <ion-badge> 40% </ion-badge>
                                </ion-card-title>
                                <ion-card-subtitle>
                                    <p style="text-decoration: line-through;"> $65,500.00 </p>
                                </ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                Corrige todas las corregir anomalías de los dientes y los huesos maxilares, obteniendo mejoras en mayor o menor grado.
                            </ion-card-content>
                        </div>
                    </div>

                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card style="width: 100%; height: 100%; border: 0; box-shadow: none;">
                <ion-card-content>
                    <div class="row" style="justify-content: space-between; display: flex;">
                        <div class="col-6">
                            <ion-card-header>
                                <ion-card-title>Periodoncia
                                    <ion-badge> 30% </ion-badge>
                                </ion-card-title>
                                <ion-card-subtitle>
                                    <p style="text-decoration: line-through;"> $1,500.00 </p>
                                </ion-card-subtitle>
                            </ion-card-header>

                            <ion-card-content>
                                En todos los diagnósticos y tratamientos de las enfermedades y condiciones que afectan a los tejidos que dan soporte a los órganos dentarios
                            </ion-card-content>
                        </div>
                    </div>

                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <div style="margin: 15px 10px 15px 10px;">
        <h3 style="color: blue;">Servicios</h3>
        <ion-searchbar class="mt3"></ion-searchbar>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Consulta Única</ion-card-subtitle>
                <ion-card-title>Obturación de Amalgamas
                    <ion-badge> -50% </ion-badge>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Reparar un diente dañado por caries y devolverle su función y forma normal.
            </ion-card-content>
            <div style="display: flex; justify-content: flex-end; align-self: flex-end; margin-right: 20px;">
                <h4 style="font-weight: 700; color: darkblue;">$450.00</h4>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Consulta Única</ion-card-subtitle>
                <ion-card-title>Obturación de Amalgamas
                    <ion-badge> -50% </ion-badge>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Reparar un diente dañado por caries y devolverle su función y forma normal.
            </ion-card-content>
            <div style="display: flex; justify-content: flex-end; align-self: flex-end; margin-right: 20px;">
                <h4 style="font-weight: 700; color: darkblue;">$450.00</h4>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Consulta Única</ion-card-subtitle>
                <ion-card-title>Obturación de Amalgamas
                    <ion-badge> -50% </ion-badge>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Reparar un diente dañado por caries y devolverle su función y forma normal.
            </ion-card-content>
            <div style="display: flex; justify-content: flex-end; align-self: flex-end; margin-right: 20px;">
                <h4 style="font-weight: 700; color: darkblue;">$450.00</h4>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Consulta Única</ion-card-subtitle>
                <ion-card-title>Obturación de Amalgamas
                    <ion-badge> -50% </ion-badge>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Reparar un diente dañado por caries y devolverle su función y forma normal.
            </ion-card-content>
            <div style="display: flex; justify-content: flex-end; align-self: flex-end; margin-right: 20px;">
                <h4 style="font-weight: 700; color: darkblue;">$450.00</h4>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Consulta Única</ion-card-subtitle>
                <ion-card-title>Obturación de Amalgamas
                    <ion-badge> -50% </ion-badge>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Reparar un diente dañado por caries y devolverle su función y forma normal.
            </ion-card-content>
            <div style="display: flex; justify-content: flex-end; align-self: flex-end; margin-right: 20px;">
                <h4 style="font-weight: 700; color: darkblue;">$450.00</h4>
            </div>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Consulta Única</ion-card-subtitle>
                <ion-card-title>Obturación de Amalgamas
                    <ion-badge> -50% </ion-badge>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Reparar un diente dañado por caries y devolverle su función y forma normal.
            </ion-card-content>
            <div style="display: flex; justify-content: flex-end; align-self: flex-end; margin-right: 20px;">
                <h4 style="font-weight: 700; color: darkblue;">$450.00</h4>
            </div>
        </ion-card>
    </div>
</ion-content>